<h1>Listing of Film Shoot Locations in San Francisco</h1>

<% form_tag locations_path do %>
<p>
  <%= text_field_tag :search %>
  <%= submit_tag "Search Location" %>
</p>
<% end %>

<table class="table">
  <tr>
    <th>Address</th>
   
    <th>Fun Facts</th>
    <th></th>
    <th></th>
  </tr>

<% @locations.each do |location| %>
  <tr>
    <td><%= location.address %></td>
    <td><%= location.fun_fact %></td>
    <td><%= link_to 'Show', location_path(location) %></td>
  </tr>
<% end %>
</table>




