<!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css">
<link rel="stylesheet" href="/stylesheets/styles.css">

<script type="text/javascript" src="/js/jquery-1.10.1.js"></script>
<script type="text/javascript" src="/js/bootstrap.js"></script>
<script type="text/javascript" src="/js/script.js"></script>
<head>
  <title>SF Movies</title>
  <%= stylesheet_link_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="background">
	<div class="opaque">
  <div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
   <a class="brand" href="#">SF Movies<i class="icon-film"></i></a>
   <ul class="nav">
   <!-- <li class="active"><a href="/about"><%=link_to %></a></li> -->
   <li><a href="/about"><%=link_to "About", about_path%></a></li>	
   <li><a href="/map"><%=link_to "Map", map_path%></a></li>	
   <li><a href="/movies"><%=link_to "Movies", movies_path%></a></li>
   <li><a href="/locations"><%=link_to "Locations", locations_path%></a></li>
   </ul>
   </div>
 </div>

  <%= yield %>
<div style="height:4300px"></div>
</div>
</div>
</body>
</html>