<!DOCTYPE html>
<html>
<head>
  <title>SF Movies</title>
  <%= stylesheet_link_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%=link_to "Home", map_path%>
	<%=link_to "Movies", movies_path%>
	<%=link_to "Locations", locations_path%>
  <%= yield %>
</body>
</html>


